*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial';
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(72, 138, 207);
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 500px;
    width: 350px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid black;
    position: relative;
}
#storiya{
    height:120px ;
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#storiya::-webkit-scrollbar{
    display: none;
}
.stori{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid rgb(189, 20, 20);
    /* background: linear-gradient(yellow,red,orange,blue,purple); */
    /* padding: 0.5px; */
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}
.stori img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}
#full-screen{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}